doctype html
html(lang='en')
  head
    title Belmont Gardens WX Station
    meta(name='viewport', content="width=device-width,initial-scale=1.0,shrink-to-fit=no")
    link(rel='stylesheet', href='/css/screen.css')
  body
    main
      block content
    script(src="/socket.io/socket.io.js")
    script(src="/js/site.js")
