@import url('//fast.fonts.net/cssapi/eb258c86-7930-458c-b539-1904a1c076d1.css');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*
  Daytona weight mappings:
  300: Condensed
  400: Light
  700: Bold
*/

html {
  font-family: "Daytona W04", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  background: #222;
  color: #EEE;
  padding: 6px;
}
#header {
  font-size: 16px;
  margin-bottom: 12px;
}
h1 {
  font-weight: 700;
}
h2,h3 {
  font-weight: 300;
  text-transform: uppercase;
}
h2 {
  color: #CCC;
  padding-bottom: 12px;
}
div,
.wind b,
b#uv-index,
b#solarradiation {
  font-size: 36px;
  line-height: 36px;
}
b#uv-risk {
  font-weight: normal;
}
.uv div,
.radiation div {
  font-size: inherit;
}
b {
  font-weight: 700;
}
small {
  color: #666;
}
.temperature div {
  padding: 24px 0;
  font-size: 72px;
  line-height: 72px;
  text-align: center;
}
.temperature b {
  font-size: inherit;
}
#forecast p {
  font-size: 14px;
  line-height: 18px;
}

#observations > li {
  border: 1px solid #999;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 12px;
}

@media screen and (min-width: 440px) {
  #observations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px;
  }
  #observations > li {
    margin-bottom: 0;
  }
  .temperature {
    height: 80vw;
    grid-column: 1 / 3;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
  }
  .temperature div {
    grid-column: 1 / 3;
    font-size: 22vw;
    align-self: center;
  }
  #forecast {
    grid-column: 1 / 3;
  }
}

@media screen and (min-width: 560px) {
  .temperature div {
    font-size: 30vw;
  }
  #forecast {
    padding: 9px;
    grid-column: 2 / 3;
  }
}

@media screen and (min-width: 780px) {
  #observations {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6,min-content);
  }
  #observations .temperature {
    grid-column: 1 / 5;
    grid-row: 1 / 7;
    height: auto;
  }
  #observations li {
    grid-column: 5 / 7
  }
}
